<!-- footer -->
<footer class="footer">
    <div class="footer__inner">
        <p class="footer__copyright">&copy; Copyright</p>
    </div><!-- /footer__inner -->
</footer><!-- /footer -->
<!-- End footer -->
