<meta charset="utf-8">
<title>jsonを結合してejs-cliで使うサンプル</title>
<meta name="referrer" content="unsafe-url">
<!-- css -->
<style>
  body {
    margin: 0;
    padding: 0;
  }
  header {
    border-bottom: 1px solid #999;
    padding: 10px 20px;
  }
  footer {
    border-top: 1px solid #999;
    margin-top: 60px;
    text-align: center;
  }
  main {
    padding: 20px;
  }
</style>
<!-- End css -->